<!doctype html>
<html>
	<head>
		<title>Debian Team Activity Metrics Prototype</title>
	</head>
	<body>
		<h3>Debian Team Activity Metrics Prototype</h3>
		<i><p>
		<h4>Static Plot Display</h4>
		Access URL : http://debmetrics.appspot.com/&lt;team&gt;/&lt;metrics&gt;/<br />
		Example <a href="http://debmetrics.appspot.com/teammetrics/commitlines/">http://debmetrics.appspot.com/teammetrics/commitlines/</a>
		</p>
		<p>
		<h4>Dynamic Plot Rendering</h4>
		Access URL : http://debmetrics.appspot.com/dynamic/&lt;team&gt;/&lt;metrics&gt;/<br />
		Example <a href="http://debmetrics.appspot.com/dynamic/teammetrics/commitlines/">http://debmetrics.appspot.com/dynamic/teammetrics/commitlines/</a>
		</p>
		<p>
		<h4>Data API</h4>
		Access URL : http://debmetrics.appspot.com/api/v1/&lt;team&gt;/&lt;metrics&gt;/<br />
		Example <a href="http://debmetrics.appspot.com/api/v1/teammetrics/commitlines/">http://debmetrics.appspot.com/api/v1/teammetrics/commitlines/</a>
		</p></i>
		<br /><br /><br />
		<p>The images and the data is scraped live from Debian servers and they hold the copyright of the data. This website is a Free Software and the source is available on <a href="http://github.com/swvist/debmetrcs">github</a>. Please feel free to fork and add to it.</p>
	</body>
</html>
